spring:
  config:
    import: "configserver:"
  application:
    name: gateway-server
  profiles:
    active: default
  cloud:
    config:
      uri: http://localhost:7071

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: W3C
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans