CHAT_NODE_ID: chat-messages-group1 # 컨테이너/vm마다 고유값 주입
ONLINE_KEY_PREFIX: 'socket:online:1:'
OUTBOX_KAFKA_TOPIC: 'cdc.chatdb.outbox'
OUTBOX_GROUP_ID: 'chat-outbox-consumers'

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3307/chatdb
    username: guest
    password: guest

  data:
    redis:
      host: redis # redis_container
      port: 6380

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: update

  # Kafka ?? ??
  kafka:
    bootstrap-servers: Kafka00Service:10000,Kafka01Service:10001,Kafka02Service:10002 # ??? ?? ??
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: chat-messages-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.nicehcy.chatservice.dto
        spring.json.value.default.type: com.nicehcy.chatservice.dto.MessageDto

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eurekaserver:8070/eureka/

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    propagation:
      type: W3C
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

server:
  port: 8080